workflows/registro-nuevo-tenant.json
{
  "name": "Registro Nuevo Tenant - Notificación Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-hub",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Registro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "registro-hub-digisider"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-mensaje",
              "name": "mensaje",
              "value": "=🆕 *Nuevo registro en DigiSider*\n\n👤 *Usuario:* {{$json.body.user.name}}\n📧 *Email:* {{$json.body.user.email}}\n🏢 *Empresa:* {{$json.body.tenant.name}}\n🌐 *Subdominio:* {{$json.body.tenant.subdomain}}.digisider.com\n📦 *Plan:* {{$json.body.plan}}\n📅 *Fecha:* {{$now.format('dd/MM/yyyy HH:mm')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Preparar Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "TU_CHAT_ID_AQUI",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURAR_EN_N8N",
          "name": "Telegram Bot DigiSider"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Registro": {
      "main": [
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "workflow-registro-tenant-001",
  "tags": [
    {
      "id": "tag-digisider-001",
      "name": "digisider"
    }
  ]
}
