workflows/yape-payment-verification.json
{
  "name": "Yape Payment Verification - Análisis IA + Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yape-payment",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-1001-1001-1001-100000000001",
      "name": "Webhook Yape",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "yape-payment-digisider"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-proof-id",
              "name": "proof_id",
              "value": "={{ $json.body.proof_id }}",
              "type": "string"
            },
            {
              "id": "assign-plan",
              "name": "plan",
              "value": "={{ $json.body.plan }}",
              "type": "string"
            },
            {
              "id": "assign-amount",
              "name": "amount",
              "value": "={{ $json.body.amount }}",
              "type": "string"
            },
            {
              "id": "assign-exchange-rate",
              "name": "exchange_rate",
              "value": "={{ $json.body.exchange_rate ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-tenant-name",
              "name": "tenant_name",
              "value": "={{ $json.body.tenant.name }}",
              "type": "string"
            },
            {
              "id": "assign-tenant-slug",
              "name": "tenant_slug",
              "value": "={{ $json.body.tenant.slug }}",
              "type": "string"
            },
            {
              "id": "assign-user-name",
              "name": "user_name",
              "value": "={{ $json.body.user.name }}",
              "type": "string"
            },
            {
              "id": "assign-user-email",
              "name": "user_email",
              "value": "={{ $json.body.user.email }}",
              "type": "string"
            },
            {
              "id": "assign-image-url",
              "name": "image_url",
              "value": "={{ $json.body.image_url }}",
              "type": "string"
            },
            {
              "id": "assign-approve-url",
              "name": "approve_url",
              "value": "={{ $json.body.approve_url }}",
              "type": "string"
            },
            {
              "id": "assign-reject-url",
              "name": "reject_url",
              "value": "={{ $json.body.reject_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-1002-1002-1002-100000000002",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analiza este screenshot de pago Yape. Responde en español con: 1) ¿Es un comprobante Yape real? (sí/no) 2) ¿Monto visible? 3) ¿Nombre/número destino? 4) ¿Fecha y hora? 5) ¿Parece auténtico o manipulado? Sé conciso.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.image_url }}\",\n            \"detail\": \"high\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 400\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-1003-1003-1003-100000000003",
      "name": "Analizar con OpenAI Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const rawData = $('Extraer Datos').first().json;\nconst openaiResponse = $input.first().json;\n\nconst ai_analysis = openaiResponse?.choices?.[0]?.message?.content ?? 'No se pudo analizar la imagen.';\n\nconst plan_display = rawData.plan.charAt(0).toUpperCase() + rawData.plan.slice(1);\n\n// Tipo de cambio: usa el que envía el backend (YapeConfig); fallback 3.75 para payloads antiguos\nconst rate = parseFloat(rawData.exchange_rate) || 3.75;\nconst amount_pen = (parseFloat(rawData.amount) * rate).toFixed(2);\n\n// Cupón aplicado (puede ser null): se lee directo del webhook porque el nodo Set no acepta objetos null\nconst promo = $('Webhook Yape').first().json.body.promo ?? null;\n\nconst planLines = promo && promo.code\n  ? [\n      `📦 *Plan:* ${plan_display}`,\n      `🏷️ *Cupón:* \\`${promo.code}\\``,\n      `💵 *Precio:* $${promo.original_amount} − $${promo.discount_amount} = *$${promo.final_amount} USD* (≈ S/ ${amount_pen})`\n    ]\n  : [\n      `📦 *Plan:* ${plan_display} ($${rawData.amount} USD ≈ S/ ${amount_pen})`\n    ];\n\nconst caption = [\n  `💳 *Nuevo comprobante Yape*`,\n  ``,\n  `👤 *Cliente:* ${rawData.user_name}`,\n  `📧 *Email:* ${rawData.user_email}`,\n  `🏢 *Empresa:* ${rawData.tenant_name}`,\n  ...planLines,\n  ``,\n  `🤖 *Análisis IA:*`,\n  ai_analysis\n].join('\\n');\n\nconst action_message = [\n  `🔗 *Acciones para activar/rechazar:*`,\n  ``,\n  `✅ [APROBAR CUENTA](${rawData.approve_url})`,\n  `❌ [RECHAZAR PAGO](${rawData.reject_url})`,\n  ``,\n  `_ID: ${rawData.proof_id}_`\n].join('\\n');\n\nreturn [{\n  json: {\n    ...rawData,\n    promo,\n    ai_analysis,\n    caption,\n    action_message\n  }\n}];"
      },
      "id": "d4e5f6a7-1004-1004-1004-100000000004",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8863250204:AAHwGNb3VzHYUhgOtJuHysKpriKp7fZeQuA/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-5572398047\",\n  \"photo\": \"{{ $json.image_url }}\",\n  \"caption\": {{ JSON.stringify($json.caption) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e5f6a7b8-1005-1005-1005-100000000005",
      "name": "Enviar Foto Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8863250204:AAHwGNb3VzHYUhgOtJuHysKpriKp7fZeQuA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"-5572398047\",\n  \"text\": {{ JSON.stringify($json.action_message) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "f6a7b8c9-1006-1006-1006-100000000006",
      "name": "Enviar Acciones Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Yape": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Analizar con OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar con OpenAI Vision": {
      "main": [
        [
          {
            "node": "Formatear Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [
          {
            "node": "Enviar Foto Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Acciones Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "workflow-yape-payment-001",
  "tags": [
    {
      "id": "tag-digisider-001",
      "name": "digisider"
    },
    {
      "id": "tag-yape-001",
      "name": "yape"
    }
  ]
}
